.mdc-text-field {
  background-color: #393a3e;
}

.mdc-text-field__input {
  color: white !important;
  caret-color: white !important;
}

.mdc-text-field__input::placeholder {
  color: #a4a4a4 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

mat-panel-title {
  font-weight: bold;
}

mat-expansion-panel {
  width: 100%;
  height: 100%;
  overflow-x: inherit;
  background-color: #303134;
}

mat-action-row {
  gap: 8px;
  justify-content: flex-start;
}

.mat-action-row button.mat-button-base, .mat-action-row button.mat-mdc-button-base {
  margin-left: 0 !important;
}

mat-radio-group {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
