<mat-expansion-panel [expanded]="true"
  id="title-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>Uudised</mat-panel-title>
  </mat-expansion-panel-header>

  <div class="toolbar">
    <button mat-button
      class="toolbar-button"
      (click)="addRow()">
      <mat-icon class="toolbar-button-icon">add</mat-icon>
      <span>Lisa</span>
    </button>
    <button mat-button
      class="toolbar-button"
      [disabled]="!isSelected"
      (click)="removeRow()">
      <mat-icon class="toolbar-button-icon">delete</mat-icon>
      <span>Kustuta</span>
    </button>
    <button mat-button
      class="toolbar-button"
      [disabled]="!isSelected"
      (click)="copyRow()">
      <mat-icon class="toolbar-button-icon">copy</mat-icon>
      <span>Kopeeri</span>
    </button>
    <button mat-button
      class="toolbar-button right-spacer"
      [disabled]="!copiedRows"
      (click)="pasteRow()">
      <mat-icon class="toolbar-button-icon">paste</mat-icon>
      <span>Kleebi</span>
    </button>
  </div>

  <ag-grid-angular class="ag-theme-alpine-dark"
    spellcheck="false"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowDragManaged]="true"
    [animateRows]="true"
    [suppressMoveWhenRowDragging]="true"
    [domLayout]="'autoHeight'"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
</mat-expansion-panel>