<div id="settings-root-container">
  <mat-expansion-panel [expanded]="true" style="height: 100%;">
    <mat-expansion-panel-header>
      <mat-panel-title>Veebiserver</mat-panel-title>
    </mat-expansion-panel-header>

    <div id="port-container">
      <div>Veebiserveri port:</div>

      <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label medium-textfield">
        <span class="mdc-text-field__ripple"></span>
        <input #port_input class="mdc-text-field__input" type="number" min="1" max="65535" placeholder="8089"
          (blur)="saveData()">
        <span class="mdc-line-ripple"></span>
      </label>
    </div>

  </mat-expansion-panel>
</div>