#control-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  width: 100%;
}

#control-root-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 15px;
}

@media (max-width: 950px) {
  #control-root-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

mat-panel-title {
  font-weight: bold;
}

mat-expansion-panel {
  width: 100%;
  overflow-x: inherit;
  background-color: #303134;
}

mat-action-row {
  gap: 8px;
  justify-content: flex-start;
}

.mat-action-row button.mat-button-base,
.mat-action-row button.mat-mdc-button-base {
  margin-left: 0 !important;
}

.small-textfield {
  height: 36px;
  width: 75px;
  margin: 0 5px;
}

.medium-textfield {
  height: 36px;
  width: 100px;
}

.large-textfield {
  width: 100%;
  height: 36px;
  margin-bottom: 15px;
}

.mdc-text-field__input::placeholder {
  color: #a4a4a4 !important;
}

.mdc-text-field__input {
  color: white !important;
  caret-color: white !important;
}

.mdc-text-field {
  background-color: #393a3e;
}

.right-spacer {
  margin-right: 8px;
}

.ag-theme-alpine-dark {
  height: max(250px, calc(100vh - 212px - 151px));
}

#import-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}