@font-face {
  font-family: "Clan-Offc-Pro-Cond-Bold";
  src: url("/fonts/Clan-Offc-Pro-Cond-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "OpenSans-Bold", sans-serif;
  white-space: pre;
}

html {
  background-color: transparent;
  color: white;
}

#row-1, #row-2 {
  position: absolute;
  height: 48px;
  left: 232px;

  font-size: 30px;
  font-family: "Clan-Offc-Pro-Cond-Bold", serif;
  color: white;
  transform-origin: left;
  -webkit-transform-origin: left;
}

#row-1 {
  top: 920px;
  line-height: 53px;
}

#row-2 {
  top: 968px;
  height: 40px;
  line-height: 45px;
  color: #0383bc;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
}

#lower-third {
  opacity: 0;
}
